.Rproj.user
.Rhistory
.RData
.Ruserdata
PRS.Rproj
Archive/
Data/
Output/
!Output/HTMLs/
Script/BYOD_GRD770.R
Script/Rmds/PRS_cache/
ULTplot.png
Script/Balduzzi
He_Replication.R
Linux-king.tar.gz
king
king.kin0
Tin_Replication_AUROC.R
Tophus_Definition.R
Script/Functions/UCSC_GRCh37_Genes_UniqueList.txt
